body {
  font-family: "helvetica";
}

.home {
  font-size:16px;
}
/*.images {
  width: auto;
  border: 1px solid transparent;
}
*/


img {
  width: 900%;
  float: left;
}


a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #00ff00;
}

a:active {
  text-decoration: none;
}
