body {
  font-family: helvetica;
  color: black;
  background-image: url(i/bg-3.gif);
  background-size: 300%;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
p {
  font-size: 30px;
  margin-top: 0px;
}
 a:link {
   color: white;
   text-decoration: none;
 }

 a:visited {
   color: white;
   text-decoration: none;
 }

 a:hover {
   color: #00ff00;
   text-decoration: none;
 }

a:active {
  color: #c000ff;
  text-decoration: none;
}

.items a {
  float: right;
  font-size: 100px;
  padding-top:50px;
}
.title {
  float: left;
  font-size: 30px;
}
.info {
  float: right;
  font-size: 30px;
}
.e {
 margin-top: 40px;
 text-align: center;
}
.email a {
  font-size: 20px;
}
