body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: black;
  background-image: url(i/bgbg.jpg);
  background-size: 200%;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
p {
  font-size: 30px;
  margin-top: 0px;
}
 a:link {
   color: black;
   text-decoration: none;
 }

 a:visited {
   color: black;
   text-decoration: none;
 }

 a:hover {
   color: #00ff00;
   text-decoration: none;
 }

a:active {
  color: #c000ff;
  text-decoration: none;
}
.items {
  width: 500px;
}
.items a {
  font-size: 100px;
}
.title {
  float: left;
  font-size: 30px;
}
.info {
  float: right;
  font-size: 30px;
}
.e {
 margin-top: 40px;
 text-align: center;
}
.email a {
  font-size: 20px;
}
