body {
  font-family: "helvetica";
}

.home {
  margin-left: 0px;
  font-size:16px;
}

.archive {
  margin-right: 0px;
  font-size: 10px;
  float: right;
}
.time {
  position: fixed;
  bottom: 800px;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #00ff00;
}

a:active {
  text-decoration: none;
}
