body {
  font-family: helvetica;
  color: white;
  background: url(i/bg-cat.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:0.8;

}

.nav {
  margin-bottom: 30px;
}

.participants {
  font-size: 30px;
  float: left;
}
.info {
  font-size: 30px;
  float: right;
}

.video_works {
  width: 100%;
}

.video_titiles {
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 0;
}
.pic_titles {
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 0;

}
.video_descriptions {
  margin-top: 0;
  font-size: 20px;
  float: right;
  width: 400px;
  text-align: left;
  text-shadow: 2px 2px 4px black;
}

.pic_descriptions {
  margin-top: 0;
  font-size: 20px;
  float: right;
  width: 400px;
  text-align: left;
  text-shadow: 2px 2px 4px black;
}

/* menu */


a:link {
  color: white;
	text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
	text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #ae00ff;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
	text-decoration: none;
}



.video_frames {
  margin-bottom: 0px;
  border-style: none;
  -webkit-box-shadow: 4px 28px 44px 0px rgba(153,0,255,1);
  -moz-box-shadow: 4px 28px 44px 0px rgba(153,0,255,1);
  box-shadow: 4px 28px 44px 0px rgba(153,0,255,1);
  width: 100%;
  height: 600px;
  border-radius: 5px;

}

img {
  width: 100%;
  -webkit-box-shadow: 4px 28px 44px 0px rgba(0,196,255,1);
  -moz-box-shadow: 4px 28px 44px 0px rgba(0,196,255,1);
  box-shadow: 4px 28px 44px 0px rgba(0,196,255,1);
  border-radius: 5px;
}
.submit {
  margin-right: 2px;
  padding-top: 20px;
  width: 98.5%;
  opacity: 0.9;
  background: rgb(29,255,0);
  background: linear-gradient(180deg, rgba(29,255,0,1) 0%, rgba(29,255,0,1) 35%, rgba(255,255,255,1) 100%);
  border-radius: 100px;
  text-align: center;
  font-size: 50px;
  color: red;

  margin-top: 0px;
  position: fixed;
  bottom: 0;
}
