body {
  font-family: "helvetica";
  background-image: url(i/rui-3.jpeg);
  background-repeat: repeat;
}

.home {
  font-size:16px;
}
.images {
  width: 400px;
  border: 1px solid transparent;
  float: left;
}


a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #00ff00;
}

a:active {
  text-decoration: none;
}
